[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/programmer-lx/benchmark.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/programmer-lx/json.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/programmer-lx/googletest.git
